<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Fungal Skin Disease Detection</title>
</head>
<body>
    <h1>Masnish Skin Detection</h1>
    <form id="uploadForm" action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" accept="image/*" required>
        <button type="submit">Upload Image</button>
    </form>
    <div id="result"></div>
    
    <script src="../static/js/script.js"></script>
</body>
</html>