<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Fungal Skin Disease Detection</title>
</head>
<body>
    <div class="container">
        <h1>Fungal Skin Disease Detection</h1>
        <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput">
            <button type="submit">Upload</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>